body {
    background-color: #f8f9fa;
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1500&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
    .registration-form 
    {max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(126, 24, 24, 0.1);
    background-color: #e0d9d9;}
    .form-label {font-weight: bold;} .btn-primary {background-color: #007bff; border-color: #0b7564;}.btn-primary:hover {background-color: #0056b3;border-color: #09973f;}.invalid-feedback {font-size: 0.9em;}
